#whoami{
    display:flex;
}

#whoami p{
    display: inline-block;
    width: 60%;
}

#whoami img{
    width: 40%;
    max-height: 60%;
    display: inline-block;
}

#main p{
    text-align: justify;
}

.section{
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 2em;
}

.section > .text > h2{
    top: 0;
    color: #5e87c9;
}

.section > img{
    max-width: 40%;
}